extends layout

block content
  h1 Add a Skill
  form(method="post" action="saveAccount")
    .formGroup
      label firstName
      input(type="text" name="firstName")
    .formGroup
      label lastName
      input(type="text" name="lastName")
    .formGroup
      label password
      input(type="text" name="password")  
    .formGroup
      label userName
      input(type="text" name="userName")
    input(type="submit")
  hr
  h1 List of All users
  form(method="post" action="deleteAccount")
    ol
      each account in accounts
        li
          e #{account.firstName} --
          i #{account.userName}
    
    hr
