extends layout

block content
  head
    title Bootstrap Website Example
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .fakeimg {
        height: 200px;
        background: #aaa;
        }
    .jumbotron.text-center(style='margin-bottom:0')
    h1 My First Bootstrap Page
    p Resize this responsive page to see the effect!
    nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') WebSiteName
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          li
            a(href='#') Page 2
          li
            a(href='#') Page 3
    .container
    .row
      .col-sm-4
        h2 About Me
        h5 Photo of me:
        .fakeimg Fake Image
        p Some text about me in culpa qui officia deserunt mollit anim..
        h3 Some Links
        p Lorem ipsum dolor sit ame.
        ul.nav.nav-pills.nav-stacked
          li.active
            a(href='#') Link 1
          li
            a(href='#') Link 2
          li
            a(href='#') Link 3
        hr.hidden-sm.hidden-md.hidden-lg
      .col-sm-8
        h2 TITLE HEADING
        h5 Title description, Dec 7, 2017
        .fakeimg Fake Image
        p Some text..
        p
          | Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        br
        h2 TITLE HEADING
        h5 Title description, Sep 2, 2017
        .fakeimg Fake Image
        p Some text..
        p
          | Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
    .jumbotron.text-center(style='margin-bottom:0')
    p Footer
