extends layout

block content
  .jumbotron.text-center(style='margin-bottom:')
    h1 MVP Luis
    p I am terriable at this, well for now

  .time-right
    h2 hello there what is up.
    
  .time-left
    h2 well what s up i like cookies
