extends layout

block content
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  .card
    img(src='/images/luis-app.jpg' style='width:50%')
    h1 Luis Andino
    p.title CEO &amp; Founder, Example
    p Branies university
    a(href='https://www.linkedin.com/mynetwork/')
      i.fa.fa-linkedin
    a(href='https://www.facebook.com/luis.andinojr')
      i.fa.fa-facebook
    p
      button Contact
